body{
    background-image: url(/Imagenes/105946211_992040247893681_4617277697562302395_n.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 630px;
    width: auto;
    background-color: black;
    


}